CONFIG_FACTORY_WIFI_SSID="AP-8300_2.4G"
CONFIG_FACTORY_WIFI_PASSWORD="MasterTI24$"
CONFIG_FACTORY_DEVICE_ID="ESP01"
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
